<div class="center">
  <div>
    <div class="top">
      <h1>ngMario</h1>
      <div class="bottom">
        <div>
        <div class="progress">{{ tilesMapProgress() }}</div>
        <select [(ngModel)]="levelKey">
          <option value="01">Level 01</option>
          <option value="02">Level 02</option>
        </select>
        <select [(ngModel)]="style">
          <option value="overworld">Overworld</option>
          <option value="underworld">Underworld</option>
          <option value="underwater">Underwater</option>
          <option value="snow">Snow</option>
        </select>
        <button (click)="animate()">Scroll</button>
        <button (click)="reload()">Reload</button>
    </div>
      </div>
    </div>
    <canvas #canvas width="1024" height="720"></canvas>
  </div>
</div>
